@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

*{
  margin: 0px;
}
body {
  background: #FBFAF5;
}

.ProfilePic {
  width: 10%;
}

.TechStack_btn{
  display: inline-flex;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  margin: 5px;
  background-color: #1DA1F2;
  color: #FBFAF5;
  letter-spacing: 3px;
  cursor: pointer;
}

.yelpcamp_img{
  width: 10%
}