@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');


body {
  background: #FBFAF5;
  height: 1000px;
}



.EntireIntro{
  display: flex;
  flex-direction: row;
}


.intro1div{
  background-color: blue;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .ProfilePicDiv{
  flex: 1;
 }

.ProfilePic{
  width: 100%;
}

.EntireYelpCampDiv{
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.YelpCamp_desDiv{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.yelpcamp_img{
  width:100%;
}

.TechStack_btn{
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #1DA1F2;
  color: #FBFAF5;
  letter-spacing: 3px;
  vertical-align: top;
  cursor: pointer;
  transition: opacity 1s,
  color 1s;
}

.TechStack_btn:hover{
  opacity: .7;
}
.TechStack_btn:active{
  opacity: .1;
}

.EntireFooterDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.IconDiv{
  display: flex;
  flex-direction: row;
  width: 50PX;
  justify-content: space-between;
}

.ContactDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}


